<h1>Listing pomodoros</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Task</th>
      <th>Started at</th>
      <th>Completed at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pomodoros.each do |pomodoro| %>
      <tr>
        <td><%= pomodoro.status %></td>
        <td><%= pomodoro.task.name %></td>
        <td><%= pomodoro.started_at %></td>
        <td><%= pomodoro.completed_at %></td>
        <td><%= link_to 'Show', [@task, pomodoro] %></td>
        <td><%= link_to 'Edit', edit_task_pomodoro_path(@task, pomodoro) %></td>
        <td><%= link_to 'Destroy', [@task, pomodoro], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pomodoro', new_task_pomodoro_path(@task) %>
